/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'open_sans';
  src: url("../assets/fonts/opensans-bold-webfont.eot");
  src: url("../assets/fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/opensans-bold-webfont.woff2") format("woff2"), url("../assets/fonts/opensans-bold-webfont.woff") format("woff"), url("../assets/fonts/opensans-bold-webfont.ttf") format("truetype"), url("../assets/fonts/opensans-bold-webfont.svg#open_sansbold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'open_sans';
  src: url("../assets/fonts/opensans-bolditalic-webfont.eot");
  src: url("../assets/fonts/opensans-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/opensans-bolditalic-webfont.woff2") format("woff2"), url("../assets/fonts/opensans-bolditalic-webfont.woff") format("woff"), url("../assets/fonts/opensans-bolditalic-webfont.ttf") format("truetype"), url("../assets/fonts/opensans-bolditalic-webfont.svg#open_sansbold_italic") format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'open_sans';
  src: url("../assets/fonts/opensans-light-webfont.eot");
  src: url("../assets/fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/opensans-light-webfont.woff2") format("woff2"), url("../assets/fonts/opensans-light-webfont.woff") format("woff"), url("../assets/fonts/opensans-light-webfont.ttf") format("truetype"), url("../assets/fonts/opensans-light-webfont.svg#open_sanslight") format("svg");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: 'open_sans';
  src: url("../assets/fonts/opensans-lightitalic-webfont.eot");
  src: url("../assets/fonts/opensans-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/opensans-lightitalic-webfont.woff2") format("woff2"), url("../assets/fonts/opensans-lightitalic-webfont.woff") format("woff"), url("../assets/fonts/opensans-lightitalic-webfont.ttf") format("truetype"), url("../assets/fonts/opensans-lightitalic-webfont.svg#open_sanslight_italic") format("svg");
  font-weight: lighter;
  font-style: italic; }

body {
  font-family: 'open_sans';
  font-weight: light;
  font-size: 12px; }

.album-list {
  display: flex;
  margin: auto;
  flex-direction: column; }

.border1lines {
  margin-bottom: 2rem; }

.albumbrah {
  border: 1px solid #c2c2c2; }

#clicktodis {
  width: 65%;
  margin: auto; }

.logo {
  width: 60%; }

#icon {
  width: 10%;
  margin: auto; }

.search {
  background-image: url(../assets/images/pattern.png);
  padding: 2rem; }

.itunes-widget {
  text-align: center;
  margin: 2rem; }

li img {
  width: 100%; }

.copyright {
  text-align: center;
  font-family: 'open_sans';
  font-weight: lighter;
  font-size: .5rem;
  margin: 25px 0 20px 0;
  border-top: 1px solid #c2c2c2; }

.container {
  display: flex;
  flex-display: row;
  justify-content: space-between; }

.item1 {
  width: 60px;
  height: 60px;
  background-size: cover;
  border-radius: 50%;
  overflow: hidden;
  margin: 1rem; }

.item2 {
  flex-direction: column;
  justify-content: center;
  text-align: right;
  padding-right: 1rem; }

.username {
  margin-top: 1rem;
  font-family: 'open_sans';
  font-size: 1.2rem; }

#loader {
  text-align: center; }

#loader img {
  width: 200px; }

.loadmore {
  height: 35px;
  width: 200px;
  font-family: 'open_sans';
  font-size: 1.3rem;
  text-align: center;
  margin: 0 auto;
  color: white;
  background-color: red; }

.loadmorebutton {
  text-align: center;
  margin-top: 2rem; }

body {
  font-size: 12px;
  color: #2e2e2e; }
  @media (min-width: 600px) {
    body .album-list {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      flex-direction: row;
      height: auto; }
    body .border1lines {
      width: 31%;
      border: 1px solid #dbdbdb;
      margin: auto;
      margin-bottom: 2rem; }
    body .username {
      font-size: .7rem; } }
  @media (min-width: 1000px) {
    body .album-list {
      width: 100%;
      flex-wrap: wrap;
      flex-direction: row; }
    body .border1lines {
      width: 24%;
      border: 1px solid #dbdbdb;
      margin: auto;
      margin-bottom: 2rem; }
    body .username {
      font-size: 1rem; } }
